@model E_Shop_Engine.Website.Models.ProductViewModel

@{
    ViewBag.Title = Model.Name;
}

<h3>@Model.Name</h3>

<p>
    <a class="btn btn-primary text-white" href="@Model.ReturnUrl">Go back</a>
</p>

<div class="d-flex flex-wrap">
    <div class="w-auto mr-2">
        <img id="ImgPreview" class="img-fluid d-block"
             src="@Url.Action("GetImage", "Product", new { Model.Id })" />
    </div>
    <div class="w-74">
        <dl>
            <dt>@Html.DisplayNameFor(model => model.Name)</dt>
            <dd>@Html.DisplayFor(model => model.Name)</dd>

            <dt>@Html.DisplayNameFor(model => model.CatalogNumber)</dt>
            @if (Model.CatalogNumber == null)
            {
                <dd>- None -</dd>
            }
            else
            {
                <dd>@Html.DisplayFor(model => model.CatalogNumber)</dd>
            }

            <dt>@Html.DisplayNameFor(model => model.Price)</dt>
            <dd class="border-bottom">@Html.DisplayFor(model => model.Price)</dd>

            <dt>@Html.DisplayNameFor(model => model.CategoryName)</dt>
            <dd class="border-bottom">@Html.DisplayFor(model => model.CategoryName)</dd>

            <dt>@Html.DisplayNameFor(model => model.SubcategoryName)</dt>
            @if (Model.SubcategoryName == null)
            {
                <dd class="border-bottom">- None -</dd>
            }
            else
            {
                <dd class="border-bottom">@Html.DisplayFor(model => model.SubcategoryName)</dd>
            }

            <dt>@Html.DisplayNameFor(model => model.Description)</dt>
            @if (Model.Description == null)
            {
                <dd>- None -</dd>
            }
            else
            {
                <dd>@Html.DisplayFor(model => model.Description)</dd>
            }
        </dl>
    </div>
</div>
