@using E_Shop_Engine.Website.Extensions;
@model E_Shop_Engine.Website.Models.ProductViewModel

@{
    ViewBag.Title = Model.Name;
}

<div class="mx-auto">
    <div class="text-left">
        <p class="my-0">
            @Html.ActionLink("Go Back", "GoBack", "Home", new { area = "" }, new { @class = "btn btn-primary text-white my-2" })
        </p>

        @if (Model.SubcategoryName != null)
        {
            <p class="my-0">@Model.CategoryName / @Model.SubcategoryName</p>
        }
        else
        {
            <p class="my-0">@Model.CategoryName</p>
        }

        <h3 class="my-0">@Model.Name</h3>
        <small>Catalog Number: @Model.CatalogNumber</small>
    </div>

    <div class="w-100 text-center">
        <img id="ImgPreview" class="img-max-size"
             src="@Url.Action("GetImage", "Product", new { Model.Id })" />
    </div>

    <div class="text-center">
        @if (Model.NumberInStock == 0)
        {
            <button class="btn btn-danger my-2" disabled>Out of stock!</button>
        }
        else
        {

            using (Html.BeginForm("AddItem", "Cart", new { id = Model.Id }, FormMethod.Post, new { @class = "d-inline" }))
            {
                @Html.AntiForgeryToken()
                <button class="btn btn-success my-2" type="submit">Add to Cart</button>
            }
        }
    </div>

    <h2 class="text-center">@Html.DisplayNameFor(model => model.Price)</h2>
    <h3 class="border-bottom text-center">@Html.DisplayFor(model => model.Price) @Html.Settings().Currency</h3>

    <strong>@Html.DisplayNameFor(model => model.Description)</strong>
    @if (Model.Description == null)
    {
        <p>- None -</p>
    }
    else
    {
        <p>@Html.DisplayFor(model => model.Description)</p>
    }

</div>
