@using E_Shop_Engine.Website.Extensions
@using E_Shop_Engine.Website.Models.Custom;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/Bundles/universal")
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
        <a class="navbar-brand text-white btn btn-primary" href="/Home/Index">@Html.Settings().ShopName</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            @using (Html.BeginForm("Search", "Product", FormMethod.Get, new { @class = "form-inline w-auto m-auto" }))
            {
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            }

            <ul class="navbar-nav">
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <li class="nav-item active">
                        @Html.Action("CountItems", "Cart")
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Your Account", "Index", "Account", null, new { @class = "nav-link text-white btn btn-primary" })
                    </li>
                }
                <li class="nav-item active">
                    @if (HttpContext.Current.User.IsInRole("Administrators") || HttpContext.Current.User.IsInRole("Staff"))
                    {
                        @Html.ActionLink("Admin Panel", "Index", "OrderAdmin", new { area = "Admin" }, new { @class = "nav-link text-white btn btn-primary" })
                    }
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link text-white btn btn-primary" })
                </li>
                <li class="nav-item active">
                    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Sign In", "Create", "Account", null, new { @class = "nav-link text-white btn btn-primary" })
                    }
                </li>
                <li class="nav-item active">
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Log Out", "Logout", "Account", null, new { @class = "nav-link text-white btn btn-primary" })
                    }
                    else
                    {
                        @Html.ActionLink("Log In", "Login", "Account", null, new { @class = "nav-link text-white btn btn-primary" })
                    }
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid pl-0">
        <div class="d-flex h-90-vh">
            @Html.Action("NavList", "Home")
            <div class="mx-auto" id="content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year</p>
                </footer>
            </div>
        </div>
    </div>
    @RenderSection("Scripts", false)
</body>
</html>