@using X.PagedList;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Common;
@using E_Shop_Engine.Website.Areas.Admin.Models;
@using E_Shop_Engine.Website.Models.Custom;
@model IPagedList<UserAdminViewModel>
@{
    ViewBag.Title = "Accounts";
}

<h1>Accounts</h1>

@using (Html.BeginForm("Index", "AccountAdmin", FormMethod.Get, new { @class = "form-inline my-2" }))
{
    <input class="form-control mr-sm-2 w-75" type="search" placeholder="Search" aria-label="Search" name="search">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    @Html.ActionLink("Reset", "Index", new { page = 1, sortOrder = "Created", search = "*", descending = false }, new { @class = "btn btn-secondary mx-1 my-2" })
}

<div class=" table-responsive">
    <table class="table table-striped table-hover table-light text-center">
        <thead class="table-primary">
            <tr>
                <th scope="col">@Html.ActionLink("Id", "Index", new { page = 1, sortOrder = "Id", descending = false, reversable = true })</th>
                <th scope="col">@Html.ActionLink("Name", "Index", new { page = 1, sortOrder = "Name", descending = false, reversable = true })</th>
                <th scope="col">@Html.ActionLink("Surname", "Index", new { page = 1, sortOrder = "Surname", descending = false, reversable = true })</th>
                <th scope="col">@Html.ActionLink("Email", "Index", new { page = 1, sortOrder = "Email", descending = false, reversable = true })</th>
                <th scope="col">@Html.ActionLink("Joined", "Index", new { page = 1, sortOrder = "Created", descending = true, reversable = true })</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4" class="text-center">No User Accounts</td>
                </tr>
            }
            else
            {
                foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td>@user.Surname</td>
                        <td>@user.Email</td>
                        <td>@user.Created</td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = user.Id }, new { @class = "btn btn-info btn-sm mb-1" })
                            @Html.ActionLink("Edit", "Edit", new { id = user.Id }, new { @class = "btn btn-primary btn-sm mb-1" })
                            @using (Html.BeginForm("Delete", null, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", user.Id)
                                <input type="submit" value="Delete" class="btn btn-danger btn-sm mb-1" onclick="return confirm('Are you sure?')" />
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@Html.PagedListPager((IPagedList)Model, page => { return (Request.Url.LocalPath + "?page=" + page + "&sortOrder=" + SortingManager.SortOrder + "&descending=" + SortingManager.IsSortDescending); }, new PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
    UlElementClasses = new string[] { "pagination justify-content-center" },
    LinkToFirstPageFormat = "<<",
    LinkToPreviousPageFormat = "<",
    LinkToNextPageFormat = ">",
    LinkToLastPageFormat = ">>",
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
    MaximumPageNumbersToDisplay = 10
})