@model E_Shop_Engine.Website.Areas.Admin.Models.CategoryAdminViewModel

@{
    if (Model.Name != null)
    {
        ViewBag.Title = "Edit " + Model.Name;
    }
    else
    {
        ViewBag.Title = "New category";
    }

}

@if (Model.Name != null)
{
    <h3>Edit @Model.Name</h3>
}
@if (Model.Name == null)
{
    <h3>New category</h3>
}

@using (Html.BeginForm(null, null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <hr />

    @Html.ValidationSummary(false, "", new { @class = "text-danger list-unstyled", id = "validation-summary" })
    @Html.HiddenFor(model => model.Id)

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.Name, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.Description, new { @class = "input-group-text" })
        </div>
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(model => model.ReturnUrl)
    <div class="input-group mb-3 my-3 d-flex justify-content-around">
        <a class="btn btn-secondary btn-lg text-white" href="@Model.ReturnUrl">Go back</a>
        <input type="submit" value="Save" class="btn btn-success btn-lg" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/Bundles/validate")
}