@model IEnumerable<E_Shop_Engine.Domain.DomainModel.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p class="text-right">
    @Html.ActionLink("Create new category", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-striped table-responsive-sm table-hover table-light text-center">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th scope="col">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info btn-sm mb-1" })
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-sm mb-1" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-sm mb-1" })
                </td>
            </tr>
        }
    </tbody>
</table>
