@using X.PagedList;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Common;
@model IPagedList<E_Shop_Engine.Website.Models.OrderViewModel>

@{
    ViewBag.Title = "Your Orders";
    Layout = null;
}

<div class=" table-responsive">
    <table class="table table-striped table-hover table-light text-center">
        <thead class="table-primary">
            <tr>
                <th scope="col">
                    Created
                </th>
                <th scope="col">
                    Finished
                </th>
                <th scope="col">
                    Bought products
                </th>
                <th scope="col">
                    Total value
                </th>
                <th scope="col">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Finished)
                    </td>
                    <td>
                        @item.OrderedCart.CartLines.Sum(x => x.Quantity)
                    </td>
                    <td>
                        @item.OrderedCart.CartLines.Sum(x => x.Product.Price * x.Quantity)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Order", new { id = item.Id }, new { @class = "btn btn-info btn-sm mb-1" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.PagedListPager((IPagedList)Model, page => { return (Request.Url.LocalPath + "?page=" + page); }, new PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
    UlElementClasses = new string[] { "pagination justify-content-center" },
    LinkToFirstPageFormat = "<<",
    LinkToPreviousPageFormat = "<",
    LinkToNextPageFormat = ">",
    LinkToLastPageFormat = ">>",
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
    MaximumPageNumbersToDisplay = 10
})