@model E_Shop_Engine.Website.Models.CartViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Your Cart</h2>

<p>
    <a class="btn btn-primary text-white" href="@ViewBag.returnUrl">Continue shopping</a>
</p>

<table class="table table-striped table-responsive-sm table-hover table-light text-center">
    <thead>
        <tr>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Quantity
            </th>
            <th scope="col">
                Price
            </th>
            <th scope="col">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CartLines != null)
        {
            foreach (var item in Model.CartLines)
            {
            <tr class="clickable-row pointer" data-href="/Product/Details/@item.Product.Id?returnUrl=@Request.Url.PathAndQuery">
                <td>
                    @Html.DisplayFor(model => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Product.Price)
                </td>
                <td>
                    @Html.ActionLink("Delete", "RemoveItem", new { id = item.Product.Id, returnUrl = Request.Url.PathAndQuery }, new { @class = "btn btn-danger btn-sm mb-1" })
                </td>
            </tr>
            }
        }
    </tbody>
</table>
<hr />
<h3>Total: @Model.TotalValue</h3>
@Html.ActionLink("Order", "Address", "Account", null, new { @class = "btn btn-success btn-lg w-100" })

@section Scripts
{
    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
}