<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Administration</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container body-content">
        <div class="d-flex flex-wrap">
            <ul class="nav flex-column bg-primary w-auto mr-2">
                <li class="nav-item">
                    @Html.ActionLink("Quit", "Index", "Home", new { area = "" }, new { @class = "nav-link text-white btn btn-primary" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link text-white btn btn-primary" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Products", "Index", "Product", null, new { @class = "nav-link text-white btn btn-primary" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Categories", "Index", "Category", null, new { @class = "nav-link text-white btn btn-primary" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Subcategories", "Index", "Subcategory", null, new { @class = "nav-link text-white btn btn-primary" })
                </li>
            </ul>

            <div class="w-auto">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

</body>
</html>