@using E_Shop_Engine.Website.Extensions;
@model E_Shop_Engine.Website.Areas.Admin.Models.ProductAdminViewModel

@{
    if (Model.Name != null)
    {
        ViewBag.Title = "Edit " + Model.Name;
    }
    else
    {
        ViewBag.Title = "New product";
    }

}

@if (Model.Name != null)
{
    <h1>Edit @Model.Name</h1>
}
@if (Model.Name == null)
{
    <h1>New product</h1>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger list-unstyled" })
    <hr />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.Name, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.Description, new { @class = "input-group-text" })
        </div>
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.Price, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
        <span>@Html.Settings().Currency</span>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.NumberInStock, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.NumberInStock, new { @class = "form-control" })
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.CatalogNumber, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.CatalogNumber, new { @class = "form-control" })
    </div>

    <div class="input-group mb-3">
        <div class="custom-file">
            <div class="input-group-prepend">
                @Html.LabelFor(model => model.ImageData, "Select image...", new { @class = "custom-file-label" })
            </div>
            <input type="file" class="custom-file-input" id="ImageData" name="ImageData">
            @Html.HiddenFor(model => model.ImageBytes)
            @Html.HiddenFor(model => model.ImageMimeType)
        </div>
    </div>

    <img id="ImgPreview" class="img-fluid d-block mx-auto mb-3" width="150" height="150"
         src="@Url.Action("GetImage", "ProductAdmin", new { Model.Id })" />

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.CategoryId, "Select category...", new { @class = "input-group-text" })
        </div>
        @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "---", new { @class = "custom-select" })
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.SubcategoryId, "Select subcategory...", new { @class = "input-group-text" })
        </div>
        <select id="SubcategoryId" name="SubcategoryId" class="custom-select">
            <option value="@Model.SubcategoryId">@Model.SubcategoryName</option>
        </select>
    </div>

    <div class="custom-control custom-checkbox form-control-lg">
        @Html.CheckBoxFor(model => model.ShowAsSpecialOffer, new { @class = "custom-control-input" })
        @Html.LabelFor(model => model.ShowAsSpecialOffer, htmlAttributes: new { @class = "custom-control-label" })
    </div>

    <div class="custom-control custom-checkbox form-control-lg">
        @Html.CheckBoxFor(model => model.ShowAtMainPage, new { @class = "custom-control-input" })
        @Html.LabelFor(model => model.ShowAtMainPage, htmlAttributes: new { @class = "custom-control-label" })
    </div>

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Created)

    <div class="input-group mb-3 my-3 d-flex justify-content-around">
        @Html.ActionLink("Go Back", "GoBack", "Home", new { area = "" }, new { @class = "btn btn-secondary btn-lg" })
        <input type="submit" value="Save" class="btn btn-success btn-lg" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/Bundles/validate")

    <script type="text/javascript" src="~/Scripts/custom/preview-img.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/decimal-validator.js"></script>

    <script>
        jQuery(document).ready(function () {
            let categoryId = $("#CategoryId").val();
            GetSubcategories(categoryId);
        });

        jQuery("#CategoryId").change(function () {
            GetSubcategories($(this).val());
        });

        function GetSubcategories(categoryId) {
            let catId = categoryId;
            let subcategoriesHtml = $("#SubcategoryId");
            $.getJSON({
                url: "@Url.Action("GetSubcategories", "ProductAdmin")",
                data: { id: catId },
                success: function(response) {
                    subcategoriesHtml.empty();
                    subcategoriesHtml.append($("<option></option>").text(" "));
                    $.each(response, function (i, item) {
                        subcategoriesHtml.append($("<option></option>").text(item.Name).val(item.Id));
                    });
                }
            });
        }
    </script>
}
