@using E_Shop_Engine.Website.Extensions;
@using X.PagedList;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Common;
@using E_Shop_Engine.Website.Areas.Admin.Models;
@using E_Shop_Engine.Website.Models.Custom;
@model IPagedList<ProductAdminViewModel>

@{
    ViewBag.Title = "Products";
}

<h1>Products</h1>

<p class="text-right">
    @Html.ActionLink("Create new product", "Create", null, new { @class = "btn btn-success" })
</p>

@using (Html.BeginForm("Index", "ProductAdmin", FormMethod.Get, new { @class = "form-inline my-2" }))
{
    <input class="form-control mr-sm-2 w-75" type="search" placeholder="Search" aria-label="Search" name="search">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    @Html.ActionLink("Reset", "Index", new { page = 1, sortOrder = "Name", search = "*", descending = false }, new { @class = "btn btn-secondary mx-1 my-2" })
}

<div class="table-responsive">
    <table class="table table-striped table-hover table-light text-center">
        <thead class="table-primary">
            <tr>
                <th scope="col">
                    @Html.ActionLink("Catalog Number", "Index", new { page = 1, sortOrder = "CatalogNumber", descending = true, reversable = true })
                </th>
                <th scope="col">
                    @Html.ActionLink("Name", "Index", new { page = 1, sortOrder = "Name", descending = false, reversable = true })
                </th>
                <th scope="col">
                    @Html.ActionLink("Number In Stock", "Index", new { page = 1, sortOrder = "NumberInStock", descending = false, reversable = true })
                </th>
                <th scope="col">
                    @Html.ActionLink("Price", "Index", new { page = 1, sortOrder = "Price", descending = true, reversable = true })
                </th>
                <th scope="col">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        @Html.DisplayFor(modelItem => item.CatalogNumber)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberInStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price) @Html.Settings().Currency
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm mb-1" })
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm mb-1" })
                        @using (Html.BeginForm("Delete", null, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("id", item.Id)
                            <input type="submit" value="Delete" class="btn btn-danger btn-sm mb-1 js" onclick="return confirm('Are you sure?')" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.PagedListPager((IPagedList)Model, page => { return (Request.Url.LocalPath + "?page=" + page + "&sortOrder=" + SortingManager.SortOrder + "&descending=" + SortingManager.IsSortDescending); }, new PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
    UlElementClasses = new string[] { "pagination justify-content-center" },
    LinkToFirstPageFormat = "<<",
    LinkToPreviousPageFormat = "<",
    LinkToNextPageFormat = ">",
    LinkToLastPageFormat = ">>",
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
    MaximumPageNumbersToDisplay = 10
})