@using E_Shop_Engine.Website.Extensions;
@model string
@{ ViewBag.Title = "Create Role";}

<h1>Create Role</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger list-unstyled" })
    <hr />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label for="name" class="input-group-text">Name</label>
        </div>
        @Html.TextBox("name", null, new { @class = "form-control" })
    </div>
    @Html.EndingFormButtons()
}

@section Scripts {
    @Scripts.Render("~/Bundles/validate")
}