@using E_Shop_Engine.Website.Extensions;
@model E_Shop_Engine.Website.Areas.Admin.Models.OrderAdminViewModel

@{
    ViewBag.Title = "Order " + Model.OrderNumber;
}

<h1>Order @Model.OrderNumber</h1>

@using (Html.BeginForm(null, null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger list-unstyled", id = "validation-summary" })
    <hr />
    @Html.HiddenFor(model => model.Id)

    <fieldset disabled>
        @Html.TextBoxForExtended(model => model.OrderNumber)
        @Html.TextBoxForExtended(model => model.Created)
        @Html.TextBoxForExtended(model => model.PaymentMethod)
        @Html.TextBoxForExtended(model => model.IsPaid)
        @Html.TextBoxForExtended(model => model.TransactionNumber)
    </fieldset>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.Finished, new { @class = "input-group-text" })
        </div>
        <input type="date" class="form-control single-line" name="Finished" id="Finished" />
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.OrderStatus, new { @class = "input-group-text" })
        </div>
        @Html.EnumDropDownListFor(model => model.OrderStatus, "Select order status", new { @class = "form-control" })
    </div>

    @Html.EndingFormButtons()
}

@section Scripts {
    @Scripts.Render("~/Bundles/validate")
}