@model E_Shop_Engine.Website.Models.AddressViewModel

@{
    ViewBag.Title = "Edit Address";
}

<h1>Edit Address</h1>

@using (Ajax.BeginForm(new AjaxOptions() { HttpMethod = "POST", OnSuccess = "Success", OnFailure = "Failed" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger list-unstyled" })
    <hr />
    @Html.HiddenFor(model => model.Id)
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.Street, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.Street, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.Line1, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.Line1, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.Line2, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.Line2, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.City, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.ZipCode, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.State, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.State, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.Country, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
    </div>

    <div class="input-group mb-3 my-3 d-flex justify-content-around">
        <a class="btn btn-secondary btn-lg text-white" href="@ViewBag.returnUrl">Go back</a>
        <input type="submit" value="Save" class="btn btn-success btn-lg" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/Bundles/validate")

    <script src="~/Scripts/custom/notify.js" type="text/javascript"></script>

    <script>
        function Success(result) {
            $('#notify').show();
            Redirect(result);
        }

        function Failed(result) {
            ReplaceContent(result.responseText);
            SetNotify("notification-error", "Error", "Something unexpected happend!");
            $('#notify').show();
            HideNotify();
        }
    </script>
}
