@model E_Shop_Engine.Website.Models.UserChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

@Html.ValidationSummary(false, "", new { @class = "text-danger list-unstyled" })
<hr />

@using (Html.BeginForm(null, null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.OldPassword, new { @class = "input-group-text" })
        </div>
        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.NewPassword, new { @class = "input-group-text" })
        </div>
        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.NewPasswordCopy, new { @class = "input-group-text" })
        </div>
        @Html.PasswordFor(model => model.NewPasswordCopy, new { @class = "form-control" })
    </div>
    <input type="submit" value="Save" class="btn btn-success btn-lg" />
}
@Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-secondary" })


@section Scripts {
    @Scripts.Render("~/Bundles/validate")
}

