@using E_Shop_Engine.Website.Extensions;
@model E_Shop_Engine.Website.Models.UserChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<h1>Change Password</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger list-unstyled" })
    <hr />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.OldPassword, new { @class = "input-group-text" })
        </div>
        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.NewPassword, new { @class = "input-group-text" })
        </div>
        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.NewPasswordCopy, new { @class = "input-group-text" })
        </div>
        @Html.PasswordFor(model => model.NewPasswordCopy, new { @class = "form-control" })
    </div>

    @Html.EndingFormButtons(anchorAction: "Index", anchorController: "Account")
}

@section Scripts {
    @Scripts.Render("~/Bundles/validate")
}

