@using E_Shop_Engine.Website.Extensions;
@model E_Shop_Engine.Website.Models.UserEditViewModel

@{
    ViewBag.Title = "Edit Account Information";
}

<h1>Edit Account Informations</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger list-unstyled" })
    <hr />
    @Html.TextBoxForExtended(model => model.Name)
    @Html.TextBoxForExtended(model => model.Surname)
    @Html.TextBoxForExtended(model => model.PhoneNumber)
    @Html.TextBoxForExtended(model => model.Email)

    @Html.EndingFormButtons()
}

@section Scripts {
    @Scripts.Render("~/Bundles/validate")
}

