@model string
@{
    ViewBag.Title = "Forgot Password";
}

<h1>Forgot Password</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger list-unstyled" })
    <hr />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.Label("email", "E-mail", new { @class = "input-group-text" })
        </div>
        @Html.TextBox("email", null, new { @class = "form-control" })
    </div>

    <div class="text-center">
        <button class="btn btn-success" type="submit">Send code</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Bundles/validate")
}