@model string
@{
    ViewBag.Title = "Forgot Password";
}

<h1>Forgot Password</h1>

@using (Ajax.BeginForm(new AjaxOptions() { HttpMethod = "POST", OnSuccess = "Success", OnFailure = "Failed" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger list-unstyled" })
    <hr />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.Label("email", "E-mail", new { @class = "input-group-text" })
        </div>
        @Html.TextBox("email", null, new { @class = "form-control" })
    </div>

    <div class="text-center">
        <button class="btn btn-success" type="submit">Send code</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Bundles/validate")

    <script src="~/Scripts/custom/notify.js" type="text/javascript"></script>

    <script>
        function Success(result) {
            $('#notify').show();
            Redirect(result);
        }

        function Failed(result) {
            ReplaceContent(result.responseText);
            SetNotify("notification-error", "Error", "Something unexpected happend!");
            $('#notify').show();
            HideNotify();
        }
    </script>
}