@{
    ViewBag.Title = "My Account";
}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        @Ajax.ActionLink("Profile Informations", "Details", "Account", null,
            new AjaxOptions() { UpdateTargetId = "nav-tabContent", InsertionMode = InsertionMode.Replace },
            new { @class = "nav-item nav-link active show", id = "nav-personal-tab", data_toggle = "tab", role = "tab", aria_selected = "true" })

        @Ajax.ActionLink("Address", "AddressDetails", "Account", null,
            new AjaxOptions() { UpdateTargetId = "nav-tabContent", InsertionMode = InsertionMode.Replace },
            new { @class = "nav-item nav-link", id = "nav-address-tab", data_toggle = "tab", role = "tab", aria_selected = "false" })
            
        @Ajax.ActionLink("Orders", "Index", "Order", null,
            new AjaxOptions() { UpdateTargetId = "content", InsertionMode = InsertionMode.Replace },
            new { @class = "nav-item nav-link", id = "nav-orders-tab", data_toggle = "tab", role = "tab", aria_selected = "false" })
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
        @Html.Action("Details", "Account")
</div>

@section Scripts {
    @Scripts.Render("~/Bundles/ajax")
}