@model E_Shop_Engine.Website.Models.UserEditViewModel

@{
    ViewBag.Title = "My Account";
}

<input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
<div class="input-group mb-3 my-3 mx-2 d-flex justify-content-around">
    <a class="btn btn-secondary text-white" href="@ViewBag.returnUrl">Go back</a>
    @Html.ActionLink("Edit", "Edit", "Account", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Change Password", "ChangePassword", "Account", null, new { @class = "btn btn-primary" })
</div>

<dl>
    <dt>@Html.DisplayNameFor(model => model.Name)</dt>
    <dd>@Html.DisplayFor(model => model.Name)</dd>

    <dt>@Html.DisplayNameFor(model => model.Surname)</dt>
    <dd>@Html.DisplayFor(model => model.Surname)</dd>

    <dt>@Html.DisplayNameFor(model => model.Email)</dt>
    <dd>@Html.DisplayFor(model => model.Email)</dd>

    <dt>@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
    <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
</dl>

