@model E_Shop_Engine.Website.Models.UserLoginViewModel

@{
    ViewBag.Title = "Log In";
}

<h3>Log In</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger list-unstyled" })
    <hr />

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.Email, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.Password, new { @class = "input-group-text" })
        </div>
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
    </div>
    <div class="text-center">
        <button class="btn btn-success" type="submit">Log In</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Bundles/validate")
}