@model E_Shop_Engine.Website.Models.UserLoginViewModel

@{
    ViewBag.Title = "Log In";
}

<h2>Log In</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger list-unstyled" })
    <hr />
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.Email, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.Password, new { @class = "input-group-text" })
        </div>
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
}

@section Scripts {
    @Scripts.Render("~/Bundles/validate")
}