@model E_Shop_Engine.Website.Models.UserResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<h1>@ViewBag.Title</h1>

@using (Ajax.BeginForm(new AjaxOptions() { HttpMethod = "POST", OnSuccess = "Success", OnFailure = "Failed" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger list-unstyled" })
    <hr />
    @Html.HiddenFor(model => model.Code)

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.Email, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.NewPassword, new { @class = "input-group-text" })
        </div>
        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.NewPasswordCopy, new { @class = "input-group-text" })
        </div>
        @Html.PasswordFor(model => model.NewPasswordCopy, new { @class = "form-control" })
    </div>
    <div class="text-center">
        <button class="btn btn-success" type="submit">Reset</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Bundles/validate")

    <script src="~/Scripts/custom/notify.js" type="text/javascript"></script>

    <script>
        function Success(result) {
            $('#notify').show();
            Redirect(result);
        }

        function Failed(result) {
            ReplaceContent(result.responseText);
            SetNotify("notification-error", "Error", "Something unexpected happend!");
            $('#notify').show();
            HideNotify();
        }
    </script>
}
