@using E_Shop_Engine.Domain.DomainModel
@model E_Shop_Engine.Domain.DomainModel.Category

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div class="w-100 text-center my-4">
    @foreach(Subcategory subcategory in Model.Subcategories)
    {
        @Html.ActionLink(subcategory.Name, "Details", "Subcategory", new { id = subcategory.ID }, new { @class = "btn btn-primary mr-2 mb-2" })
    }
</div>

<div class="card-columns">
    @foreach (Product product in Model.Products)
    {
        <div class="card">
            @Html.Image(product.ImageData, product.ImageMimeType, "card-img-top", new { alt = product.Name + " Price: " + product.Price })
            <div class="card-body text-center">
                <h5 class="card-title">@product.Name</h5>
                <h4 class="card-title">@product.Price</h4>
                <a href="#" class="btn btn-success">Add to cart</a>
            </div>
        </div>
    }
</div>

