@model E_Shop_Engine.Website.Areas.Admin.Models.SettingsAdminViewModel

@{
    ViewBag.Title = "Settings";
}

<h1>Settings</h1>

@using (Html.BeginForm(null, null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger list-unstyled" })
    @Html.HiddenFor(model => model.Id)
    <hr />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.ShopName, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.ShopName, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.Currency, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.Currency, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.AdminEmailAddress, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.AdminEmailAddress, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.NotificationReplyEmail, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.NotificationReplyEmail, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.SMTP, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.SMTP, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.SMTPEnableSSL, new { @class = "input-group-text" })
        </div>
        @Html.EditorFor(model => model.SMTPEnableSSL, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.SMTPUsername, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.SMTPUsername, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.SMTPPassword, new { @class = "input-group-text" })
        </div>
        @Html.PasswordFor(model => model.SMTPPassword, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            @Html.LabelFor(model => model.SMTPPort, new { @class = "input-group-text" })
        </div>
        @Html.TextBoxFor(model => model.SMTPPort, new { @class = "form-control" })
    </div>
    <div class="input-group mb-3 my-3 d-flex justify-content-around">
        <a class="btn btn-secondary btn-lg text-white" href="@ViewBag.returnUrl">Go back</a>
        <input type="submit" value="Save" class="btn btn-success btn-lg" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/Bundles/validate")
}